[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
ffmpeg = "*"
pygame = "*"
ffpyplayer = "*"
opencv-python = "*"
numpy = "*"
pynput = "*"

[dev-packages]

[requires]
python_version = "3.9"
